
/ {
	buttons {
		compatible = "gpio-keys";
		wakeup_pin: wakeup_pin {
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		};
		advance_pin: advance_pin {
			gpios = <&gpio3 18 GPIO_ACTIVE_LOW>;
		};
	};
};

&enet      { status = "disabled"; };
&enet_mac  { status = "disabled"; };
&enet_mdio { status = "disabled"; };
&phy       { status = "disabled"; };
&usb1      { status = "disabled"; };
&usbphy1   { status = "disabled"; };
&usdhc0    { status = "disabled"; };
&flexspi   { status = "disabled"; };
&w25q64jvssiq { status = "disabled"; };

&gpio3 {
	status = "okay";
};

&portd {
	status = "okay";
};
